/*.rBtn { width: 60%; height:150px; margin-top: 100px; font-weight: bold; }*/
div.container { margin-top: 50px; }
img { cursor: pointer; width: 80%; height: 80%; text-align:center; &:hover { width: 100%; height: 100%; } }
h2 { margin-left: 20px; }

.modName { cursor: pointer; color: #000; &:hover { color: #0000FF; } }

.blue { color: #0000FF; }
.blck { color: #000; }
.imgZoomIn { width: 100%; height: 100%; }
.imgZoomOut { width: 80%; height: 80%; }

.rBtn { text-align: center; }

@media (min-width: 1201px){
  .rBtn { width: 60%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 1200px){
  .rBtn { width: 70%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 1035px){
  .rBtn { width: 90%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 875px){
  .rBtn { width: 90%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 765px){
  .rBtn { width: 100%; height:150px; margin-top: 100px; font-weight: bold; }}

  @media (max-width: 667px){
    .rBtn { width: 100%; height:150px; margin-top: 100px; font-weight: bold; font-size: 12px; }}

@media (max-width: 659px){
  .rBtn { width: 100%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 658px){
  .rBtn { width: 100%; height:150px; margin-top: 100px; font-weight: bold; font-size: 12px; }}

@media (max-width: 599px){
  .rBtn { width: 60%; height:150px; margin-top: 50px; font-weight: bold; font-size: 100%; }}
