.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
}

.spanRPT {
  width: 1110px;
}
/* .sidenav .mat-toolbar {
  background: #ffffff;
  height: auto;
} */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*.mat-toolbar img {
  width: 100%;
  height: auto;
}*/

img {
  width: 50px;
  height: 50px;
}

.mat-sidenav-content {
  margin-bottom: 70px;
}

.mat-menu {
  width:500px;
}

.fsze {
  font-size: 13px;
  text-align: right;
}

a:hover {
  color: #00F;
  font-weight: bold;
  /*transition: all 2s ease out;*/
}

.show {
  height:90px;
  transition: height 1s ease-in-out;
  display: block;
}

.hide {
  display: none;
}

.hdeShwNme {
  display: none;
}

@media only screen and (max-width: 600px) {
  .fntSze {
    font-size: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .fntSze {
    font-size: 80%;
  }
}

@media only screen and (max-width: 439px) {
  .fntSze {
    font-size: 70%;
  }
}

@media only screen and (max-width: 400px) {
  .fntSze {
    font-size: 67%;
  }
}

@media only screen and (max-width: 380px) {
  .fntSze {
    font-size: 65%;
  }
}

@media only screen and (max-width: 370px) {
  .fntSze {
    font-size: 100%;
  }

  .hdeNme {
    display: none;
  }

  .hdeShwNme {
    display: block;
    margin-left: 10px;
  }
}
