<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [opened]="false">
    <mat-toolbar color="primary" (click)='drawer.toggle()'>
      <!-- <img src='../assets/SPCLOGO.png'>
      <span *ngIf='nonAuth()'>Menu</span>
      <span *ngIf='loggedIn()'>{{ userFullName }}</span>-->
      <span style='width: 150px;'>Menu</span>
      <span style='margin-top: 7px;'><img src='../assets/SPCLOGO.png'></span>
    </mat-toolbar>
    <mat-nav-list *ngIf='nonAuth()' (click)="drawer.toggle()">
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/register">Register</a>
    </mat-nav-list>
    <mat-nav-list *ngIf='loggedIn()'>
      <div class='hdeShwNme'>
        <span>{{ userFullName }}</span>
      </div>
        <hr width='90%' class='hdeShwNme'>

      <div *ngFor='let nav of navs' (click)="drawer.toggle();">
        <a mat-list-item routerLink="{{nav.route}}">{{nav.text}}</a>
      </div>
      <a mat-list-item (click)="ltLinks = !ltLinks" ng-model="show">
        Land Tax
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon *ngIf="!ltLinks">expand_more</mat-icon>
        <mat-icon *ngIf="ltLinks">expand_less</mat-icon>
      </a>

      <div [ngClass]="{ 'show': ltLinks, 'hide': !ltLinks }">
        <a mat-list-item (click)='drawer.toggle(); gotoClearance();' class='fsze'>
          <mat-icon>arrow_right</mat-icon>&nbsp;Clearance
        </a>
        <a mat-list-item class='fsze' (click)="drawer.toggle(); gotoRPTOP()">
          <mat-icon>arrow_right</mat-icon>&nbsp;RPTOP
        </a>
      </div>

      <hr width='90%'>
      <div (click)="drawer.toggle()">
        <a mat-list-item (click)="logOut(); ltLinks=false">Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="ltLinks=false; drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class='spanRPT fntSze'>RPT Web Application</span>
      <span *ngIf='loggedIn()' class="fntSze hdeNme">{{ userFullName }}</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
