/*.aBtn { width: 60%; height:150px; margin-top: 100px; font-weight: bold; }*/
div.container { margin-top: 50px; }
img { cursor: pointer; width: 80%; height: 80%;
  &:hover {
    width: 100%; height: 100%;
  }
}

h2 { margin-left: 20px; }
.modName { cursor: pointer; color: #000; &:hover { color: #0000FF; } }

.blue { color: #0000FF; }
.blck { color: #000; }
.imgZoomIn { width: 100%; height: 100%; }
.imgZoomOut { width: 80%; height: 80%; }

.aBtn { text-align: center; }

@media (min-width: 1201px){
  .aBtn { width: 60%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 1200px){
  .aBtn { width: 70%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 1035px){
  .aBtn { width: 90%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 875px){
  .aBtn { width: 90%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 765px){
  .aBtn { width: 100%; height:150px; margin-top: 100px; font-weight: bold; }}

@media (max-width: 600px){
  .aBtn { width: 60%; height:150px; margin-top: 50px; font-weight: bold; }}
  /*div.container
    margin-top: 0px*/
